<div id="parallax_hero" class="parallax"></div>

<section id="about">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">About Pernankila</h2>
                <p class="text-center text-justify justified wow fadeInDown"><b>Pernankila</b> is a  village near Hiriadka, located in the district of <b>Udupi</b> in Karnataka. This village is blessed by divine blessings and is considered to be filled with divine power. The divine abode of <b>Lord Shri Mahalingeshwara</b> and <b>Shri Mahaganapathi</b> is situated in here which is about 20 km southeast of Udupi. The Ganapathi here is called as <b><i>Udbava Ganapati</i></b> as it is believed to have come from earth by itself. People believe that he removes obstacles from one's life. </p>
            </div>
        </div>

         <div class="container">
            <div class="section-header">
                <h3 class="sub-section-title text-center wow fadeInDown">History</h3>
                <div class="sub-section-content text-center text-justify justified wow fadeInDown">
                    <p>It is believed that in Pernankila, the Lord Mahaganapathi is a <i>Udbhava</i> deity, who is also known as <i>Swayambhoo</i> (self incarnation). The divine idol of Mahaganapathi here was said to have been found by a farmer called <b><i>Perna</i></b> while ploughing his farm. The idol of Mahaganapathi hidden under the earth accidentally got stuck to his plough. As a result, the head portion of the idol was torn apart and astonishingly blood was gushing out of it. The farmer was awe stuck on seeing this unusual scene.</p>

                    <p>Severely perturbed Perna went to his home that day and saw an unusual dream that night. In his dream, Perna was ordained to keep upside down two <i>Koppariges</i> (jar that contains hidden treasure), one at the place where he found the Mahaganapathi Idol in his farm and the other near the Shivaalaya (the Shiva temple) and visit the two spots next morning.</p>

                    <p>Perna did according to the divine order which he received in his dream. To his surprise, when he visited the spots next day, he saw the place absolutely vacant where he originally found the Mahaganapathi idol, but located the same near the Shivaalaya under the Kopparige which he had placed upside down. Later, the idol was found in a nearby well and its upper portion was only visible. From that day, the village came to be known as <b><i>Perna+Ankila</i></b> (the plough), Pernankila. It is widely believed that with the blessings of Lord Mahaganapathi, the farmer Perna's name was immortalized and the village itself came to be identified with his name and the plough, i.e., Pernankila.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="section-header">
                <h3 class="sub-section-title text-center wow fadeInDown">About Temple</h3>
                <div class="text-center text-justify justified wow fadeInDown">
                    <p>
                        The village is famous for <b>Lord Shri Mahalingeshwara</b> and <b>Shri Mahaganapathi</b> temple.
                        The annual fair of the temple is celebrated with great charm and devotion. And on this day chariot of the temple is pulled by many devotees with statues of god placed in it. Ganesh Chaturthi is the holiest day in this village. Thousands of devotees visit this temple on that day and offer their prayers. Devotees firmly believe that Lord Mahaganapathi bless them and fulfills their wishes.
                    </p>
                    <p>
                        Special poojas and celebrations are held during the <b><i>Ganesh Chaturthi</i></b> during which nearly 5000 devotees visit the temple and participate in (<b><i>annasantarpane</i></b>), that is served on that day. Besides religious functions, cultural events are also organised on the Ganesh Chaturthi day in the temple. On the day of Ekadashi the meals are not served, the people maintain fast and offer prayers to god. During Meena in the month of March–April, on the full moon day the festivities start with the hoisting of the temple flag and Rathotsava is also organised on that day. On Tuesdays and <i>Sankashti</i>, more number of devotees visits the temple. 
                    </p>
                    <p>
                        In December month, daily <i>bhajana</i> is conducted by <b>Pernankila Bhajana Mandali</b> at each houses in the village. At the end, on last saturday of December Bhajana Mangala is held in temple. During this, many other bhajana groups comes to the event and performs. This program starts at 6pm and ends at next morning 6am.
                    </p>
                    <p>
                        It is believed that the Pernankila Shri Mahaganapati is fond of <b><i>appams</i></b> prepared out of rice, coconut, ghee and jaggery. On the Ganesh Chaturthi day nearly one quintal rice is used to prepare one lac appams and distribute among the devotees. The <b><i>kopparige appa</i></b> is seva provided, where devotees offer prayers to god and <i>annasantharpane</i> is done. 
                    </p>
                </div>
            </div>
        </div>
</section>