<section id="main-slider">
    <div class="owl-carousel">
    {{#each items}}
        <div class="item" style="background-image: url({{src}});">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</section>