<div id="parallax_one" class="parallax"></div>

<section id="lifestyle" >
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Lifestyle</h2>
            <div class="text-center text-justify wow fadeInDown">
                <p>
                    Pernankila is a village with around 450 families residing. As per Census 2011, Pernankila village has population of 1841 of which 915 are males while 926 are females. Rajapoori Konkani, Tulu and Kannada are the most widely spoken language in Pernankila. 
                </p>
                <p>
                    In Pernankila village population of children with age 0-6 is 158 which makes up 8.58 % of total population of village. Average Sex Ratio of Pernankila village is 1012 which is higher than Karnataka state average of 973. Child Sex Ratio for the Pernankila as per census is 927, lower than Karnataka average of 948, which is a matter of concern.Schedule Caste (SC) constitutes 7.60 % while Schedule Tribe (ST) were 7.50 % of total population in Pernankila village.
                </p>
                <p>
                    There is a primary health care center at a distance of nearly 1 km from Pernankila temple. There are two shops near Pernankila temple which offer the items required for Pooja's.
                    <b><i>Wagle Stores</i></b> is popular grocery shop near government primary school, where people get items required for daily use.
                </p>
                <p>
                    Agriculture is main occupation for many people here. Few people travel to Manipal or Udupi for job. There is a cashew factory where many people go to work as well. 
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section-header">
            <h3 class="sub-section-title text-center wow fadeInDown">Education</h3>
            <div class="text-center text-justify justified wow fadeInDown">
                <p>
                    Pernankila village has higher literacy rate compared to Karnataka. In 2011, literacy rate of Pernankila village was 82.35 % compared to 75.36 % of Karnataka. In Pernankila Male literacy stands at 88.36 % while female literacy rate was 76.47 %.
                </p>
                <p>
                    There is an anganavadi kendra and a government higher primary school at the center of  the village. For high school education, students needs to go to <b><i>Sri Vishnumoorthy High School</i></b>, Kodibettu which is around 2.5km from Pernankila. To get pre-university and higher education, students travel to Hiriadka, Moodubelle, Manipal or Udupi. Nearest engineering colleges are Nitte and Bantakal.
                </p>
            </div>
        </div>
    </div>
</section>