
<section id="map">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Map View</h2>
        <div id="overlay" class="map wow fadeInDown">
            <iframe id="embedMap"height="450" scrollwheel="false" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=16&center=13.2995247%2C74.8424189&key=AIzaSyBeaESL3VFeOcNLa_T4wDSYn4bSAIJnXjU&maptype=satellite" allowfullscreen></iframe>
        </div>
    </div>     
</section> 
