
<section id="weather" >
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Weather</h2>
            <div class="text-center text-justify wow fadeInDown">
                <p>Pernankila usually has a pleasant climate. The climate in Pernankila is hot in summers and pretty good in winter. The village is just about 25m above the sea level. During summer season the temperature reaches up to 35째C and in winters it ranges between 20째C and 32째C. The average annual temperature is 27.0 째C. The Monsoon period is from June to October with average rain of 450 cm. In July, the precipitation reaches its peak, with an average of 160 cm rain.The Western Ghats have great positive impact on the rainfall. </p>
            </div>
        </div>
    </div>
</section>

<section id="weather-forecast">
    <div class="container">
        <div class="text-center">
            <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=13.2995247&lon=74.8424189&name=Pernankila&units=si&color=#45aed6&font=Georgia"></iframe>
        </div>
    </div>
</section>
