@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
/* line 3, ../../src/sass/components/_home.scss */
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
  font-size: 16px;
}

/* line 11, ../../src/sass/components/_home.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}

/* line 21, ../../src/sass/components/_home.scss */
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

/* line 28, ../../src/sass/components/_home.scss */
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}

/* line 33, ../../src/sass/components/_home.scss */
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

/* line 37, ../../src/sass/components/_home.scss */
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}

/* line 42, ../../src/sass/components/_home.scss */
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}

/* line 47, ../../src/sass/components/_home.scss */
.section-header {
  margin-bottom: 50px;
}

/* line 50, ../../src/sass/components/_home.scss */
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

/* line 58, ../../src/sass/components/_home.scss */
.section-header .section-title:before, .sub-section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  bottom: 0;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}

/* line 69, ../../src/sass/components/_home.scss */
.section-header .section-title:after, .sub-section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  bottom: -11px;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}

/* line 81, ../../src/sass/components/_home.scss */
.sub-section-title {
  font-size: 28px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

/* line 89, ../../src/sass/components/_home.scss */
.sub-section-title:before {
  bottom: 5px;
}

/* line 92, ../../src/sass/components/_home.scss */
.sub-section-title:after {
  bottom: -5px;
  width: 20px;
  height: 20px;
}

/* line 97, ../../src/sass/components/_home.scss */
.section-cite {
  float: right;
}

/* line 100, ../../src/sass/components/_home.scss */
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}

/* line 105, ../../src/sass/components/_home.scss */
.btn.btn-primary {
  background: #45aed6;
  border-color: #2a95be;
}

/* line 109, ../../src/sass/components/_home.scss */
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #2a95be;
}

/* line 113, ../../src/sass/components/_home.scss */
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}

/* line 120, ../../src/sass/components/_home.scss */
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}

/* line 128, ../../src/sass/components/_home.scss */
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

/* line 133, ../../src/sass/components/_home.scss */
ul.nostyle i {
  color: #45aed6;
}

/* line 136, ../../src/sass/components/_home.scss */
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
/* line 169, ../../src/sass/components/_home.scss */
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

/* line 174, ../../src/sass/components/_home.scss */
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}

/* line 177, ../../src/sass/components/_home.scss */
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 10px 15px;
}

/* line 181, ../../src/sass/components/_home.scss */
.navbar.navbar-default .navbar-brand img {
  max-height: 57px;
}

/* line 184, ../../src/sass/components/_home.scss */
#main-slider {
  overflow: hidden;
}

/* line 187, ../../src/sass/components/_home.scss */
#main-slider .item {
  height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* line 193, ../../src/sass/components/_home.scss */
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

/* line 201, ../../src/sass/components/_home.scss */
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

/* line 208, ../../src/sass/components/_home.scss */
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}

/* line 211, ../../src/sass/components/_home.scss */
#main-slider .slider-inner .btn {
  margin-top: 10px;
}

/* line 214, ../../src/sass/components/_home.scss */
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

/* line 232, ../../src/sass/components/_home.scss */
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #45aed6;
}

/* line 236, ../../src/sass/components/_home.scss */
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}

/* line 240, ../../src/sass/components/_home.scss */
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}

/* line 244, ../../src/sass/components/_home.scss */
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #45aed6;
}

/* line 250, ../../src/sass/components/_home.scss */
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

/* line 257, ../../src/sass/components/_home.scss */
#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}

/* line 261, ../../src/sass/components/_home.scss */
#cta h2 {
  margin-top: 0;
}

/* line 264, ../../src/sass/components/_home.scss */
#cta .btn {
  margin-top: 40px;
}

/* line 267, ../../src/sass/components/_home.scss */
#weather-forecast {
  background-size: cover;
  color: #fff;
}

/* line 271, ../../src/sass/components/_home.scss */
#weather-forecast iframe {
  border-bottom: 2px solid #444;
  max-width: 1000px;
}

/* line 275, ../../src/sass/components/_home.scss */
#weather-forecast .btn {
  margin-top: 10px;
}

/* line 278, ../../src/sass/components/_home.scss */
#weather-forecast h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}

/* line 283, ../../src/sass/components/_home.scss */
#weather-forecast h2 > span {
  color: #45aed6;
}

/* line 286, ../../src/sass/components/_home.scss */
#features {
  padding: 100px 0;
}

/* line 289, ../../src/sass/components/_home.scss */
#features .media.service-box:first-child {
  margin-top: 80px;
}

/* line 292, ../../src/sass/components/_home.scss */
#services {
  padding: 100px 0 75px;
}

/* line 295, ../../src/sass/components/_home.scss */
.media.service-box {
  margin: 25px 0;
}

/* line 298, ../../src/sass/components/_home.scss */
.media.service-box .pull-left {
  margin-right: 20px;
}

/* line 301, ../../src/sass/components/_home.scss */
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #45aed6;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}

/* line 314, ../../src/sass/components/_home.scss */
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}

/* line 326, ../../src/sass/components/_home.scss */
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 334, ../../src/sass/components/_home.scss */
#portfolio {
  padding: 100px 0;
  background: #f5f5f5;
}

/* line 338, ../../src/sass/components/_home.scss */
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}

/* line 344, ../../src/sass/components/_home.scss */
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}

/* line 348, ../../src/sass/components/_home.scss */
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}

/* line 355, ../../src/sass/components/_home.scss */
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #45aed6;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}

/* line 362, ../../src/sass/components/_home.scss */
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}

/* line 372, ../../src/sass/components/_home.scss */
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}

/* line 375, ../../src/sass/components/_home.scss */
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}

/* line 378, ../../src/sass/components/_home.scss */
#portfolio .portfolio-items {
  margin: -15px;
}

/* line 381, ../../src/sass/components/_home.scss */
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 391, ../../src/sass/components/_home.scss */
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}

/* line 394, ../../src/sass/components/_home.scss */
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* line 406, ../../src/sass/components/_home.scss */
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}

/* line 412, ../../src/sass/components/_home.scss */
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}

/* line 428, ../../src/sass/components/_home.scss */
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
/* line 433, ../../src/sass/components/_home.scss */
.isotope-item {
  z-index: 2;
}

/* line 436, ../../src/sass/components/_home.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/* line 441, ../../src/sass/components/_home.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 449, ../../src/sass/components/_home.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 456, ../../src/sass/components/_home.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
/* line 464, ../../src/sass/components/_home.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
/* line 475, ../../src/sass/components/_home.scss */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 482, ../../src/sass/components/_home.scss */
#testimonial {
  background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}

/* line 488, ../../src/sass/components/_home.scss */
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}

/* line 492, ../../src/sass/components/_home.scss */
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}

/* line 497, ../../src/sass/components/_home.scss */
#testimonial .btns {
  margin-top: 10px;
}

/* line 500, ../../src/sass/components/_home.scss */
#about, #lifestyle, #map, #weather, #gallery {
  padding: 100px 0 0 0;
}

/* line 503, ../../src/sass/components/_home.scss */
#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}

/* line 509, ../../src/sass/components/_home.scss */
#work-process h2 {
  color: #fff;
}

/* line 512, ../../src/sass/components/_home.scss */
#work-process h3 {
  color: #fff;
  margin-bottom: 0;
}

/* line 516, ../../src/sass/components/_home.scss */
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #45aed6;
  border-radius: 100px;
  position: relative;
}

/* line 525, ../../src/sass/components/_home.scss */
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #45aed6;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}

/* line 538, ../../src/sass/components/_home.scss */
#work-process h3 {
  margin-bottom: 50px;
}

/* line 541, ../../src/sass/components/_home.scss */
#meet-team {
  padding: 100px 0;
}

/* line 544, ../../src/sass/components/_home.scss */
#meet-team .team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}

/* line 551, ../../src/sass/components/_home.scss */
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}

/* line 554, ../../src/sass/components/_home.scss */
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}

/* line 559, ../../src/sass/components/_home.scss */
#meet-team .team-member:hover {
  border-color: #45aed6;
}

/* line 562, ../../src/sass/components/_home.scss */
#meet-team .team-member:hover .social-icons > li > a {
  background: #45aed6;
}

/* line 565, ../../src/sass/components/_home.scss */
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 570, ../../src/sass/components/_home.scss */
#meet-team .social-icons > li {
  display: inline-block;
}

/* line 573, ../../src/sass/components/_home.scss */
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}

/* line 583, ../../src/sass/components/_home.scss */
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}

/* line 592, ../../src/sass/components/_home.scss */
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}

/* line 597, ../../src/sass/components/_home.scss */
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 604, ../../src/sass/components/_home.scss */
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}

/* line 609, ../../src/sass/components/_home.scss */
.nav.main-tab > li > a {
  color: #272727;
}

/* line 612, ../../src/sass/components/_home.scss */
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}

/* line 616, ../../src/sass/components/_home.scss */
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}

/* line 619, ../../src/sass/components/_home.scss */
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}

/* line 622, ../../src/sass/components/_home.scss */
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}

/* line 628, ../../src/sass/components/_home.scss */
.panel-default {
  border-color: #eee;
}

/* line 631, ../../src/sass/components/_home.scss */
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}

/* line 635, ../../src/sass/components/_home.scss */
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}

/* line 639, ../../src/sass/components/_home.scss */
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}

/* line 642, ../../src/sass/components/_home.scss */
#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}

/* line 648, ../../src/sass/components/_home.scss */
#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #fff;
}

/* line 654, ../../src/sass/components/_home.scss */
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}

/* line 658, ../../src/sass/components/_home.scss */
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}

/* line 668, ../../src/sass/components/_home.scss */
#pricing {
  padding: 100px 0 70px;
}

/* line 671, ../../src/sass/components/_home.scss */
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}

/* line 680, ../../src/sass/components/_home.scss */
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}

/* line 684, ../../src/sass/components/_home.scss */
#pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}

/* line 691, ../../src/sass/components/_home.scss */
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}

/* line 705, ../../src/sass/components/_home.scss */
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}

/* line 709, ../../src/sass/components/_home.scss */
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}

/* line 714, ../../src/sass/components/_home.scss */
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}

/* line 717, ../../src/sass/components/_home.scss */
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

/* line 725, ../../src/sass/components/_home.scss */
#pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}

/* line 730, ../../src/sass/components/_home.scss */
#pricing ul.pricing.featured li.plan-header {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}

/* line 735, ../../src/sass/components/_home.scss */
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}

/* line 738, ../../src/sass/components/_home.scss */
#get-in-touch {
  padding: 100px 0 50px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
}

/* line 745, ../../src/sass/components/_home.scss */
#get-in-touch h1,
#get-in-touch h2 {
  color: #fff;
}

/* line 749, ../../src/sass/components/_home.scss */
#blog {
  padding: 100px 0;
}

/* line 752, ../../src/sass/components/_home.scss */
#blog .blog-post {
  border: 1px solid #eee;
  padding: 15px;
}

/* line 756, ../../src/sass/components/_home.scss */
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}

/* line 767, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}

/* line 771, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}

/* line 779, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}

/* line 782, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}

/* line 789, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}

/* line 795, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-large .entry-title a {
  color: #64686d;
}

/* line 798, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-large .entry-title a:hover {
  color: #45aed6;
}

/* line 801, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}

/* line 804, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}

/* line 808, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}

/* line 813, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}

/* line 820, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}

/* line 826, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}

/* line 829, ../../src/sass/components/_home.scss */
#blog .blog-post.blog-media .entry-title a:hover {
  color: #45aed6;
}

/* line 832, ../../src/sass/components/_home.scss */
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

/* line 837, ../../src/sass/components/_home.scss */
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}

/* line 842, ../../src/sass/components/_home.scss */
#blog .blog-post .entry-meta > span > a {
  color: #999;
}

/* line 845, ../../src/sass/components/_home.scss */
#blog .blog-post .entry-meta > span > a:hover {
  color: #45aed6;
}

/* line 848, ../../src/sass/components/_home.scss */
#contact {
  position: relative;
  overflow: hidden;
}

/* line 852, ../../src/sass/components/_home.scss */
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}

/* line 861, ../../src/sass/components/_home.scss */
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}

/* line 866, ../../src/sass/components/_home.scss */
#contact .contact-form h3 {
  margin-top: 0;
}

/***********************
********* Footer ******
************************/
/* line 872, ../../src/sass/components/_home.scss */
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

/* line 878, ../../src/sass/components/_home.scss */
#footer a {
  color: #fff;
}

/* line 881, ../../src/sass/components/_home.scss */
#footer a:hover {
  color: #45aed6;
}

/* line 884, ../../src/sass/components/_home.scss */
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}

/* line 889, ../../src/sass/components/_home.scss */
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}

/* line 893, ../../src/sass/components/_home.scss */
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 898, ../../src/sass/components/_home.scss */
.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 450px;
  top: 450px;
  margin-top: -450px;
}

/* line 906, ../../src/sass/components/_home.scss */
.scrolloff {
  pointer-events: none;
}

/* line 910, ../../src/sass/components/_home.scss */
#owl-demo .item {
  margin: 3px;
}

/* line 913, ../../src/sass/components/_home.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 918, ../../src/sass/components/_home.scss */
#main-slider .owl-theme .owl-controls {
  margin-top: 0;
}

/* line 921, ../../src/sass/components/_home.scss */
#owl-demo .item .gallery-desc {
  height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #000000;
  opacity: 0.5;
  margin-top: -13%;
  position: relative;
}

/* line 930, ../../src/sass/components/_home.scss */
#owl-demo .desc-copy {
  position: absolute;
  top: 20%;
  color: white;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-device-width: 480px) {
  /* line 939, ../../src/sass/components/_home.scss */
  .owl-pagination {
    display: none;
  }

  /* line 942, ../../src/sass/components/_home.scss */
  #owl-demo .item .gallery-desc {
    margin-top: -50px;
  }
}
/* line 947, ../../src/sass/components/_home.scss */
.parallax {
  min-height: 638px;
  background-image: url("../media/slider/image1_p.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100px;
  background-attachment: fixed;
}
